
  .footer__copyright {
    border-top: 1px solid #808dad49;
  }
  .footer__copyright p {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .footer__top {
      display: none;
    }
  }