.home {
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
  } 


  .contact {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    position: absolute;  
}


  .home__content h5 {
    color: #808dad;
    font-weight: 400;
  }
  
  .home__content {
    padding-top: 50px;
    
  }
  
  .home__img {
    position: static;
    z-index: 9;
    margin-top: 125px;
    margin-left: 100px;
  }
  
  .home__img img {
    border-radius: 10px 10px 10px 10px;
  }
  
  .dataviz__img {
    position: static;
    z-index: 9;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .dataviz__img img {
    border-radius: 5px 5px 5px 5px;
  }
 
  

  
  @media only screen and (max-width: 992px) {
    .home__content h2 {
      font-size: 1.5rem !important;
    }
  
    .home__content h5 {
      font-size: 1.1rem !important;
    }
  
    .home__img  {
      width: 250px !important;
      height: 250px !important;
    }
  
    .home__content {
      padding-top: 0;
    }

  
  }
  
  @media only screen and (max-width: 768px) {
    .home__img {
      display: static;
      text-align: center !important;
      margin-top: 50px;
    }

  }
  
  